<div class="row">
  <div class="col m-5 text-center align-self-center">
    <div class="jumbotron jumbotron-fluid rounded">
      <div class="container">
        <h1 class="display-3">BURGERS</h1>
        <p class="lead">Eat the burgers you like and add more that you want to eat!</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h2>Lets Eat Some Burgers!</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burgers-block eat=true}}
        {{/unless}}
      {{/each}}
    </ul>

  </div>
  <div class="col-md-4 text-center">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="bg">Burger Name:</label>
        <input type="text" id="bg" name="name">
      </div>

      <button type="submit" class="btn btn-outline-light">Add Burger</button>
    </form>
  </div>
  <div class="col-md-4 text-center">
    <h2>Already Devoured Burgers!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burgers-block eat=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

{{!-- <div class="row"></div> --}}
